# Bỏ qua thư viện của Laravel và Flutter
/backend_api/vendor/
/backend_api/.env
/patient_mobile/build/
/patient_mobile/.dart_tool/
/patient_mobile/.pub-cache/
/frontend_web/node_modules/

# Bỏ qua dữ liệu của Database (tránh push data thật lên Git)
/docker/db_data/

# Bỏ qua file hệ thống
.DS_Store
.idea/
.vscode/